.app {
    background-color: #161929;
    width:100%;
    display: flex;
    flex-direction: column;
}

.content {
    padding: 1.2rem 0;
}

@media(min-width: 768px) {
    .content {
        flex-grow: 1;
    }
}
.content-calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.app-title {
    color: #fff;
    font-family: 'Russo One', sans-serif;
    margin-bottom: 20px;
    text-align: center;
}

